{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container mx-auto p-4">
    <!-- Dashboard content here -->
    <div class="grid grid-cols-3 gap-4">
        <a href="{{ url_for('manage_daerah') }}" class="bg-blue-500 hover:bg-blue-600 text-white py-4 px-6 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-2">Manajemen Daerah</h3>
            <p class="text-gray-200">Kelola data daerah.</p>
        </a>
        <a href="{{ url_for('manage_accounts') }}" class="bg-green-500 hover:bg-blue-600 text-white py-4 px-6 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-2">Manajemen Akun</h3>
            <p class="text-gray-200">Kelola data akun.</p>
        </a>
        <a href="{{ url_for('manage_api') }}" class="bg-yellow-500 hover:bg-yellow-600 text-white py-4 px-6 rounded-lg shadow-md">
            <h3 class="text-xl font-semibold mb-2">Manajemen API</h3>
            <p class="text-gray-200">Kelola data API.</p>
        </a>
    </div>
</div>
{% endblock %}
