<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{{ url_for('dashboard') }}" class="text-2xl font-semibold hover:underline">Data PBJ</a>
        
        <div class="space-x-4">
            <span>Welcome, {{ user.username }}!</span>
            
            <a href="{{ url_for('dashboard') }}" class="hover:underline">Dashboard</a>
            
            <!-- Dropdown Manajemen -->
            {% if user.role == 'admin' %}
            <div class="relative inline-block group">
                <button class="hover:underline focus:outline-none">Manajemen</button>
                <div class="absolute hidden space-y-2 bg-white text-gray-800 p-2 rounded-md shadow-md right-0 mt-1 transition-transform transform opacity-0 group-hover:opacity-100 group-hover:translate-y-1">
                    
                    <a href="{{ url_for('manage_accounts') }}" class="hover:text-blue-500">Akun</a>
                    <a href="{{ url_for('manage_daerah') }}" class="hover:text-blue-500">Daerah</a>
                    <a href="{{ url_for('manage_api') }}" class="hover:text-blue-500">Manajemen API</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownButton = document.querySelector('.group');
        const dropdownMenu = dropdownButton.querySelector('.absolute');
        
        dropdownButton.addEventListener('mouseenter', function () {
            dropdownMenu.classList.remove('hidden');
        });
        
        dropdownButton.addEventListener('mouseleave', function () {
            dropdownMenu.classList.add('hidden');
        });
    });
</script>